.home {
    background: url(../img/parahome1.jpg);
    overflow: hidden;

    &__container{
        height: 100vh;
    }
    &__data{
        padding-top: 6rem;
        margin-left: 250px;
    }
    &__title{
        font-family: 'Bebas Neue', cursive;
        align-self: center;
        font-size: 100px;
        line-height: 1;
        letter-spacing: .5rem;
        margin-bottom: 4rem;
        color:  #b82021 ;
        font-weight: 1000;
        visibility: hidden;
        & span{
            font-size: 40px;
        }
    }
    &__button{
        display: inline;
        background-color: #1c4a75;
        color: #fff;
        padding: 1rem;
        font-size: 16px;
        transition: .3s;
        text-decoration: none;
        &:hover{
            background-color: #071b3c;
            color: #fff;
        }
    }
}

@media (max-width: 475px){
    .home{
        background-image: url(../img/homeMovil.jpg);
    }
    .home__data{
        margin-left: 10px;
    }
    .home__title{
        color: #fff;
        visibility: visible;
    }
}